# test results
Testing/

# default build directory for visual studio
out/
# Visual studio configuration directory
.vs/

#default build directory for vscode
build/
# vscode configuration directory
.vscode/
