# test results
Testing/

# default build directory for visual studio
out/
# Visual studio configuration directory
.vs/

#default build directory for vscode
build/
# vscode configuration directory
.vscode/

#Vim tempfile
*.swp

# Macs
.DS_store

# safety - ignore certs
*.p12
*.b64

# other builds
build-*/

# certificates
*.p12
*.b64
