Package: ${SF_PROJ_LOWER}
Version: ${SF_VERSION}
Section: sound
Priority: optional
Architecture: amd64
Maintainer: SolidFuel <solidfuelplugins@gmail.com>
Description: VST3 plugin Arppegiator.
 VST3 format plugin that arppegiates the midi on its input.
 Usable in any software that supports the VST3 format.
